.botoes__ios{
    background-color: rgb(51, 255, 186, 0.8);
    border: 0px solid rgb(51, 255, 186);
    border-radius: 20px;
    height: 40px;
    margin-right: 10px;
    text-decoration: none;
    width: 150px;
    
}
.botoes__ios:hover{
    cursor: pointer;
    background-color: rgb(51,255,186);
    transition: 1s;
}