.botoes {
    align-items: center;
    background-color: #fdfdfd;
    display: flex;
    height: 100px;
    justify-content: center;    
}
@media screen and (min-width: 0) {
    .botoes{
        flex-direction: column;
    }
}
@media screen and (min-width: 360px) {
    .botoes {
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .botoes {
        flex-direction: row;
    }
}