.botoes_mac{
    background-color: rgb(93, 63, 211, 0.8);
    border: 0px solid rgb(93, 63, 211);
    border-radius: 20px;
    height: 40px;
    text-decoration: none;
    width: 150px;
}
.botoes_mac:hover{
    cursor: pointer;
    background-color: rgb(93, 63, 211);
    transition: 1s;
}
@media screen and (min-width: 0) {
    .botoes__mac {
        margin-left: 0;
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) {
    .botoes__mac {
        margin-left: 10px;
    }
}
