.cabecalho__texto {
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}