.conteudo5__imagem {
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    
}
.conteudo5__imagem--icone1 {
    background-image: url(../../images/logo-google.png);
}
.conteudo5__imagem--icone2 {
    background-image: url(../../images/logo-ibm.png); 
}
.conteudo5__imagem--icone3 {
    background-image: url(../../images/logo-microsoft.png);
}
.conteudo5__imagem--icone4 {
    background-image: url(../../images/logo-hp.png);
}
.conteudo5__imagem--icone5 {
    background-image: url(../../images/logo-vector-graphics.png);
}
@media screen and (min-width: 0) {
    .conteudo5__imagem {
        height: 80px;
        width: 100%;
        padding-bottom: 20px;
        background-size: auto;
    }
}
@media screen and (min-width: 768px) {
    .conteudo5__imagem {
        height: 30px;
        margin-left: 0;
        width: 100%;
        background-size: contain;
        margin: 0 10px;
    }

}