.conteudo1 {
    background-color: #fdfdfd;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 0) {
    .conteudo1 {
        height: 80px;
    }
}
@media screen and (min-width: 360px) {
    .conteudo1 {
        height: 120px;
    }
}
@media screen and (min-width: 768px) {
    .conteudo1 {
        height: 200px;
    }
}