.conteudo1__texto {
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
@media screen and (min-width: 0) {
    .conteudo1__texto{
        font-size: 0.4rem;
    }
}
@media screen and (min-width: 360px) {
    .conteudo1__texto {
        font-size: 0.6rem;
    }
}
@media screen and (min-width: 768px) {
    .conteudo1__texto {
        font-size: 0.9rem;
    }
}