.rodape {
    align-items: center;
    background-color: hsl(198, 26%, 87%);
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
@media screen and (min-width: 0) {
    .rodape {
        flex-direction: column;
        height: 100%;
        padding-top: 40px;
    }
}
@media screen and (min-width: 768px) {
    .rodape {
        flex-direction: row;
        height: 100px;
        padding-top: 0;
    }
}
